@using Blazored.Typeahead
@using BriefingRoom4DCS.GUI.Common.Shared.Sections
@using BriefingRoom4DCS.GUI.Utils
@using BriefingRoom4DCS.Template

@inject BriefingRoom4DCS.BriefingRoom briefingRoom

<div id="options" class="generator-block">
    <h3>@briefingRoom.Translate("Options")</h3>
    <InputEnum Label="Fog of war" @bind-Value="Template.OptionsFogOfWar" EnumType="FogOfWar" />
    <MissionFeatures Template="Template" />
    <MissionOptions Template="Template" />
</div>
@code {
    [Parameter] public BuilderUtils builderUtils { get; set; }
    [Parameter] public MissionTemplate Template { get; set; }
}