<label class="checkbox-wrapper  @((row ? "row-checkbox" : ""))">
    <Checkbox Value="@Value" ValueChanged="OnValueChanged" Label="@Label" />
</label>
@code {

    [Parameter] public bool row { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }

    private async Task OnValueChanged(bool newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(Value);
    }
}