@using BriefingRoom4DCS.GUI.Common.Shared.Inputs.Objectives
@using BriefingRoom4DCS.GUI.Utils
@using BriefingRoom4DCS.Template
@inject BriefingRoom4DCS.BriefingRoom briefingRoom
<div class="generator-group flex-justify-spaced flex-margin-fix">
    <MinMax Label="ObjectiveDistance" @bind-MinValue="Template.FlightPlanObjectiveDistanceMin" @bind-MaxValue="Template.FlightPlanObjectiveDistanceMax"/>
    <MinMax Label="ObjectiveSeperation" @bind-MinValue="Template.FlightPlanObjectiveSeparationMin" @bind-MaxValue="Template.FlightPlanObjectiveSeparationMax"/>
    <div class="form-group flex-block">
        <label>@briefingRoom.Translate("BorderLimit")</label>
        <InputNumber class="form-control" @bind-Value="Template.BorderLimit">
        </InputNumber>
    </div>
</div>

@code {
    [Parameter] public MissionTemplate Template { get; set; }
}