@using BriefingRoom4DCS.GUI.Utils
@using BriefingRoom4DCS.Template
@inject BriefingRoom4DCS.BriefingRoom briefingRoom
<ObjectiveTaskRow objective="objective" Template="Template" objectiveUtil="objectiveUtil"
    CloneCallback="CloneCallback"
    DeleteCallback="DeleteCallback" />

<div class="form-group">
    <h6>@briefingRoom.Translate("Options")</h6>
    <CheckBoxList Data="Enum.GetValues(typeof(ObjectiveOption)).Cast<ObjectiveOption>()"
        TextField="@(item =>BriefingRoomGUITools.GetEnumName(briefingRoom.LanguageKey, item))"
        DescriptionField="@(item => BriefingRoomGUITools.GetEnumDescription(briefingRoom.LanguageKey, item))"
        ValueField="@(item =>item)" SelectedValues="objective.Options" TItem="ObjectiveOption"
        TItemOutput="ObjectiveOption">
    </CheckBoxList>
</div>
@if (Template.GetTasksFlat().Count > 1)
{
    <br />
    <ObjectiveProgression objective="objective" Template="Template" />
}
@code {
    [Parameter] public MissionTemplate Template { get; set; }
    [Parameter] public MissionTemplateSubTask objective { get; set; }
    [Parameter] public ObjectiveUtils objectiveUtil { get; set; }
    [Parameter] public Action CloneCallback { get; set; }
    [Parameter] public Action? DeleteCallback { get; set; }
}